.burger {
    &__btn {
        width: 20px;
        height: 20px;
        margin-left: 5px;
        position: relative;
        cursor: pointer;
    }

    &__btn::before {
        content: '';
        position: absolute;
        top: 0px;
        width: 20px;
        background-color: #1f8e30;
        height: 2px;
    }

    &__btn span {
        position: absolute;
        top: 9px;
        width: 20px;
        background-color: #1f8e30;
        height: 2px;
    }
    &__btn::after {
        content: '';
        position: absolute;
        bottom: 0px;
        width: 20px;
        background-color: #1f8e30;
        height: 2px;
    }
}